<!DOCTYPE html>
<html>
    <head>
        <title>Graphical Authentication System - Login</title>
        <script>
            let password = [];

            function updatePassword(image) {
                let index = password.indexOf(image);
                if (index !== -1) {
                    password.splice(index, 1);
                } else {
                    password.push(image);
                }
                document.getElementById('password').value = password.join(',');
            }
        </script>
    </head>
    <body>
        <h1>Graphical Authentication System - Login</h1>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label>Select images in order:</label><br>
            <input type="checkbox" id="image1" name="password" value="image1" onclick="updatePassword(this.value)">
            <label for="image1"><img src="/static/10.png" alt="Image 1"></label><br>
            <input type="checkbox" id="image2" name="password" value="image2" onclick="updatePassword(this.value)">
            <label for="image2"><img src="/static/11.png" alt="Image 2"></label><br>
            <input type="checkbox" id="image3" name="password" value="image3" onclick="updatePassword(this.value)">
            <label for="image3"><img src="/static/12.png" alt="Image 3"></label><br>
            <input type="hidden" id="password" name="password">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>